---
layout: default
---

<div id="home">
 <h1>Projects</h1>
      <h3>1. Design of an Autonomous Micro-Air Vehicle</h3>
      <p>Development of a 500 gram Vision-based Autonomous Quadrotor Vehicle Capable of Indoor Navigation
         Perform communication with Pixhawk flight controller of the air vehicle through Odroid using ROS
         Implement a bug algorithm for the air vehicle path in C++ combined with lidar 
</p>

			<h3>2. Consensus in Networked Multi-Agent Systems</h3>
			During Master Course, I played around a lot with RGBD sensors. In this project, I created 3D map of the environment from turtlebot robot. I used RBPF localization with occupancy grids to generate 3D Octomaps. The accuracy of this was limited to non-cluttered envirnonments like hallways. As can be seen from the figure.
			<div class="images">
				<img src="./assets/3D-map1.png" alt="3D Occupancy Grid Map" >
			</div>

			<iframe width="560" height="315" src="https://youtu.be/fZyoPuhHOf0" frameborder="0" allowfullscreen></iframe>
			<h3>3. Iterative Closest Point Matching using PCL </h3>
	        <p>ICP is one of the common algorithms used to register 2 pointclouds. This outputs a transformation of second cloud wrt first. Often this is used to calculate visual odometry in Visual-slam. <a href="https://github.com/ResByte/3D-mapping/tree/master/Pose_Graph/ICP-Test">Here</a> is an implementation using PCL in ROS.</p>

	        <h3>3</h3>
	        <p>
	     
	        </p>

      </section>
  <ul class="posts">
    {% for post in site.categories.blog %}
      <li>&laquo; <a href="{{ post.url }}">{{ post.title }}</a><span>{{ post.date | date_to_string }} &raquo;</span></li>
    {% endfor %}
  </ul>
  <ul class="posts">
    {% for post in site.categories.about %}
      <li>&laquo; <a href="{{ post.url }}">{{ post.title }}</a><span>{{ post.date | date_to_string }} &raquo;</span></li>
    {% endfor %}
  </ul>
  <ul class="posts">
    {% for post in site.categories.general %}
      <li>&laquo; <a href="{{ post.url }}">{{ post.title }}</a><span>{{ post.date | date_to_string }} &raquo;</span></li>
    {% endfor %}
  </ul>

</div>
